
.home {
    .carousel-inner {
      .carusel-caption {
        top: 30% !important;
      }
    }
  }
  
.babyphoto{
    width: 100%;
    background-color: gainsboro;
   
}
.threephoto{
    width: 100%;
    height: 50vh;
   h1{
    padding: 30px;
    text-align: center;
   }
    img{
        width: 200px;
        height: 200px;
        &:hover {
          transition: 1s;
        }
    }
}
footer{
    width: 100%;
    height: 120px;
    background-color: brown;
    p{
        text-align: center;
        padding: 50px 0;
    }
}